@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 255 175 122;
    --color-secondary: 237 242 255;
    --color-error: 220 38 38;
  }
}

@layer components {
  .badge-primary {
    @apply px-4 py-1 bg-green-400 text-white font-semibold rounded-full text-sm border border-transparent pointer-events-none;
  }

  .badge-secondary {
    @apply px-4 py-1 bg-red-400 text-white font-semibold rounded-full text-sm border border-transparent pointer-events-none;
  }

  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 disabled:opacity-50 disabled:pointer-events-none;
  }
}

/*
const theme = createTheme({
    palette: {
        primary: {
        main: "#FFAF7A",
        },
        secondary: {
        main: "#edf2ff",
        },
        error: {
        main: red.A400,
        },
    },
    drawerWidth: 240,
    background: "#ffee58",
    typography: {
        fontFamily: roboto.style.fontFamily,
    },
});
 */
